<div id="three-container"></div>
<div id="btn-back-home" class="top-right-container" v-on:click="goHomeBtn">
  <span class="folder">
    <span class="folder-icon"></span>
    <span class="folder-text">/ HOME</span>
  </span>
  <div id="back-home-arrow-cont" class="skip">
    <span class="back-home-arrow-text">BACK TO HOME</span>
    <span class="back-home-arrow"></span>
  </div>
</div>
<xp-progress-component :progress="progress" :max="max" :step="step"></xp-progress-component>
<div id="loader-container">
  <loader-interaction-component></loader-interaction-component>
  <loader-progress-component :loaderprogress="loaderprogress"></loader-progress-component>
</div>
<level-indicator-component :levelindex="levelindex" :nblevels="nblevels"></level-indicator-component>
<pop-up-confirmation :text-pop="textPop" :pop-type="popType" :accomplishment="accomplishment"></pop-up-confirmation>
<footer-component></footer-component>
<pop-up-component :title="title" :image="image" :text="text" ></pop-up-component>
