@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

#dyn-bg-img-container {
  opacity: 1;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background: url('/images/landing_page/img_background/zap_01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
