@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.interaction-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;

  #panorama-img {
    @include centerX;
    position: absolute;
    bottom: 50%;
    width: 200px;
    margin-bottom: 40px;
  }

  #hand-svg {
    position: absolute;
    left: 50%;
    width: 40px;
    bottom: 50%;
    margin-bottom: 100px;
  }

  #loader-text {
    @include centerX;
    bottom: 45%;
    text-transform: uppercase;
    text-align: center;
    line-height: 200%;
    color: white;
    font-size: 1.7em;
    font-family: 'AHAMANO';
  }
}
