<div class="interaction-container" v-el:interaction-container>
	<img id="panorama-img" src="/images/loaders/panorama.png">
	<img id="hand-svg" src="/images/loaders/hand.svg" v-el:hand-svg>
	<div id="loader-text">Explore the panorama by dragging it<br/>and click on the cursors</div>
</div>
