@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

#three-container {
  position: absolute;
  cursor: move;
}

.info-pano-container {
  cursor: inherit;
  position: absolute;
  display: none;
  width: 20%;
  height: 200px;
  left: 30px;
  bottom: 100px;
  font-family: 'Lettera Pro';
  // text-align: center;
  .corner-top-right {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .corner-bottom-left {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }
  .info-pano-values-container {
    display: inline-block;
    @include centerXY;
    .oxy {
      width: 100%;
      float: left;
      // margin-left: 50px;
      margin-top: 30px;
      height: 20px;
      color: $color-green;
      display: inline-block;
    }
    .h2o, .location-pano, .date-pano {
      width: 100%;
      float: left;
      // margin-left: 50px;
      margin-top: 10px;
      height: 20px;
      color: $color-green;
      display: inline-block;
    }
  }
  .right {
    float: right;
    margin-right: 90px;
    color: $color-green;
  }
}
