<div id="three-container"></div>
<naturalization-progress-component :naturalizationprogress="naturalizationprogress"></naturalization-progress-component>
<div id="loader-container">
  <loader-interaction-component></loader-interaction-component>
  <loader-progress-component :loaderprogress="loaderprogress"></loader-progress-component>
</div>
<div class="info-pano-container" v-el:info-pano>
  <span class="corner-top-right"></span>
  <span class="corner-bottom-left"></span>
  <div class="info-pano-values-container">
    <span class="oxy left">O2 RATE : <span id="oxyrate"></span>PPM</span>
    <!--<span class="terralife left">TERRALIFE : <span id="terrarate"></span>%</span>>-->
    <span class="h2o left">H2O RATE : <span id="hydrorate"></span>%</span>
    <span class="location-pano left">LOCATION : <span id="location">EARTH</span></span>
    <span class="date-pano left">DATE : <span id="date"> 02.02</span>.2???</span>
  </div>
</div>
<footer-component></footer-component>
