@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

#xp-progress-container {
  @include centerY;
  width: 50px;
  height: 60%;
  display: block;
  cursor: inherit;
  // background-color: white;

  .progress-text {
    font-family: 'Lettera Pro';
    color: white;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    left:-30%;
    top: 48.5%;
    font-size: 1.3em;
    letter-spacing: 2px;
  }

  #progress-bar-container {
    position: absolute;
    left: 5em;

    .progress-short-stick {
      position: absolute;
      margin-left:2px;
      width: 2px;
      height: 1px;
      background-color: $color-tiny-grey;
    }

    .progress-long-stick {
      position: absolute;
      width: 7px;
      height: 1px;
      background-color: $color-tiny-grey;
    }
    #step-bar {
      background-color: $color-green;
      width: 10px;
      height: 2px;
      position: absolute;
    }
    #progress-bar {
      background-color: $color-green;
      width: 5px;
      position: absolute;
      bottom: 0;
    }
  }
}
