@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.wrapper {
  @include centerX;
  top: 50px;

  .gif-uncompat {
    width: 200px;
    margin: 0 auto;
    display: block;
  }
  .content {
    width: 450px;
    display: block;
    font-family: 'Lettera Pro';
    text-transform: uppercase;
    margin-top: 20px;
    .top-title {
      color: $color-green;
      font-size: 17px;
    }
    .title-big {
      color: $color-green;
      font-size: 28px;
      margin: 15px 0;
    }
    .title-separator {
      width: 100%;
      height: 10px;
      background-color: $color-green;
    }
    .uncompat-descr {
      color: white;
      font-size: 15px;
      line-height: 30px;
      margin-top: 15px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

}

@media screen and (max-width: 767px) {
  .wrapper {
  // width: 290px;
    .gif-uncompat {
      width: 150px;
    }
    .content {
       width: 290px;
    }
  }
}
