<div class="uncompatible">
	<div class="wrapper">
		<img src="/images/caution.gif" alt="gif uncompatible" class="gif-uncompat">
		<div class="content">
			<div class="top-title">_compatibility_exp /</div>
			<div class="title-big" v-if="isDesktop">browser incompatible 😩</div>
			<div class="title-big" v-else>Mobile incompatible 😩</div>
			<div class="title-separator"></div>
			<div class="uncompat-descr" v-if="isDesktop">
				to use our website you'll need a recent browser such as <a href="https://www.mozilla.org/fr/firefox/new/">firefox</a> or <a href="https://www.google.fr/chrome/browser/desktop/index.html">chrome</a> on desktop.
			</div>
			<div class="uncompat-descr" v-else>
				sorry but terraforma is a desktop 🖥 experiment.
			</div>
		</div>
	</div>
	<footer-component></footer-component>
</div>
