@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

#naturalization-progress-container {
  @include centerY;
  width: 50px;
  height: 60%;
  right: 5%;
  display: block;
  cursor: inherit;

  .progress-text {
    font-family: 'Lettera Pro';
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    position: absolute;
    left:0;
    top: 48.5%;
    font-size: 1.3em;
    letter-spacing: 2px;
  }

  #naturalization-progress-bar {
    background-color: $color-green;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: 2em;
  }

  #naturalization-max {
    background-color: $color-green;
    width: 10px;
    height: 2px;
    position: absolute;
    right: 2em;
  }
}
