<div id="naturalization-progress-container" v-el:naturalization-progress-container>
  <div class="progress-text">NATURALIZATION:</div>
  <span id="naturalization-max"></span>
  <span id="naturalization-progress-bar" v-el:naturalization-progress-bar></span>
</div>
