<div class="landing-page-container">
	<dyn-bg-img-component :progress="progress"></dyn-bg-img-component>
	<div class="landing-center-container">
		<div class="logo-container">
			<!-- <div class="logo"></div> -->
			<canvas v-el:canvas class="logo"></canvas>
			<span class="logotype"></span>
		</div>
		<slider-component :progress="progress" :on-drag-progress="onDragProgress" ></slider-component>
	</div>
	<timeline-component :progress="progress"></timeline-component>
</div>
