@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.slide-to-start-container {
  position: relative;
  margin: 35px auto;

  width: 250px;
  height: 30px;

  .slide-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px;
    border-color: $color-green;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    z-index: 2;

    .slide-arrow {
      display: block;
      width: 12px;
      height: 12px;
      margin: 8px 10px;
      background: url('/images/svg/arrow.svg');
      background-repeat: no-repeat;
      color: $color-green;

    }
  }
  .slide-btn:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .slide-points {
    @include centerX;
    padding-left: 40px;
    display: inline-block;
    width: 250px;
    height: 5px;
    margin-top: 10px;
    z-index: 1;

    .point {
      margin: 2px;
      width: 2px;
      height: 2px;
      display: inline-block;
      border: solid 1px;
      border-radius: 8px;
      color: $color-tiny-grey;
      animation: 1s linear 0s infinite alternate point_op;
      @keyframes point_op { from { color:rgba($color-tiny-grey, 1); } to { color:rgba($color-tiny-grey, 0); }  }
      @for $i from 1 through 22 {
        &:nth-child(#{$i}) {
          animation-delay: #{0.1 * $i}s;
        }
      }
    }
    .end-point {
      margin: 2px;
      width: 6px;
      height: 6px;
      float: right;
      margin-right: 14px;
      border: solid 1px;
      border-radius: 1px;
      color: $color-tiny-grey;
      transform: rotate(45deg);
    }

  }
  .drag-info {
    @include centerX;
    font-family: 'Lettera Pro';
    color: $color-green;
    margin-top: 50px;
    font-size: 1.2em;
  }
}
