<div class="slide-to-start-container" v-el:slider-container>
	<div id="slider-btn" class="slide-btn" v-el:slider-btn>
		<span class="slide-arrow"></span>
	</div>
	<div class="slide-points">
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
	  <span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point"></span>
		<span class="point end-point"></span>
	</div>
	<div class="drag-info" v-el:drag-text>DRAG TO START</div>
</div>
