@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';


#three-container {
  position: absolute;
  cursor: move;
}

#target-container {
  position: absolute;
  cursor: move;
  width: 250px;
  height: 250px;
  margin: auto 0;
  top: 50%;
  left: 50%;

  svg {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
  }

  #fleche {
    transform-origin: 5% 10%;
  }
  #nuclear {
    opacity: 0.1;
    svg {
      fill:#9a2b25;
      stroke:#9a2b25;
      // transform: translate3d(-50%, -50%, 0);
    }
  }

}
#btn-back-home {
  position: absolute;
  margin-right: 60px;
  margin-top: 50px;
  right: 0;

  #back-home-arrow-cont {
    border: solid 1px;
    border-color: $color-green;
    width: 170px;
    height: 55px;
    cursor: pointer;
    .back-home-arrow-text {
      position: absolute;
      font-family: 'Lettera Pro';
      color: $color-green;
      left: 35px;
      word-spacing: -10px;
      margin-top: 20px;
      font-size: 1.5em;
    }
    .back-home-arrow {
      display: block;
      margin-top: 18px;
      margin-left: 10px;
      width: 16px;
      height: 16px;
      float: left;
      transform: rotate(0.5turn);
      background: url('/images/svg/arrow.svg');
      background-repeat: no-repeat;
      color: $color-green;
    }
  }
}
