<div id="three-container"></div>
<div id="btn-back-home" class="top-right-container" v-on:click="goHomeBtn">
  <span class="folder">
    <span class="folder-icon"></span>
    <span class="folder-text">/ HOME</span>
  </span>
  <div id="back-home-arrow-cont" class="skip">
    <span class="back-home-arrow-text">BACK TO HOME</span>
    <span class="back-home-arrow"></span>
  </div>
</div>
<div id="target-container" class="centerXY">
  <svg version="1.1" id="fleche" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
  <style type="text/css">
  	.st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;stroke-width:0.1;}
  	.st1{fill:#C0F0EB;}
  </style>
  <polygon class="st0" points="251.9,253.1 249.8,253.1 249.8,251.1 249.5,251.1 249.5,253.1 247.4,253.1 247.4,253.4 249.5,253.4
  	249.5,255.6 249.8,255.6 249.8,253.4 251.9,253.4 "/>
  <polygon class="st1" points="257.6,413.1 249.5,399.1 241.4,413.1 "/>
  <polygon class="st1" points="257.6,86.9 249.5,100.9 241.4,86.9 "/>
  <polygon class="st1" points="404.2,245.8 392,252.8 404.2,259.8 "/>
  <polygon class="st1" points="95.8,245.8 107.9,252.8 95.8,259.8 "/>
  </svg>

  <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
  <style type="text/css">
  	.circle{fill:#848484;stroke-width:0.1;}
  </style>
  <g>
  	<path class="circle" d="M362.9,212.8c-16.1-48.9-61.5-81.7-112.9-81.7c-51.5,0-96.9,32.8-112.9,81.7l-0.7-0.2
  		c16.1-49.2,61.8-82.3,113.7-82.3c51.8,0,97.4,33.1,113.7,82.3L362.9,212.8z"/>
  </g>
  <g>
  	<path class="circle" d="M250,369.7c-51.9,0-97.5-33.1-113.7-82.3l0.7-0.2c16,48.9,61.4,81.7,112.9,81.7c51.4,0,96.8-32.8,112.9-81.7
  		l0.7,0.2C347.4,336.6,301.8,369.7,250,369.7z"/>
  </g>
  </svg>

  <svg version="1.1" id="nuclear" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
  <style type="text/css">
  	.nuclear{stroke:#FFFFFF; fill:#ec6581;stroke-width:0.1;}
  </style>
  <g id="bld_5_">
  	<path class="nuclear" d="M324.2,246h-52.9v-0.8c0-7.6-4.1-14.6-10.6-18.4l-0.6-0.4l26.5-45.8l0.6,0.4c22.9,13.2,37.1,37.8,37.1,64.3
  		V246z M272.8,244.5h49.9c-0.3-25.4-13.9-48.9-35.7-61.8l-25,43.2C268.5,229.9,272.5,236.9,272.8,244.5z"/>
  </g>
  <g id="bld_1_">
  	<path class="nuclear" d="M250,319.4c-12.8,0-25.7-3.3-37.1-9.9l-0.6-0.4l26.5-45.8l0.6,0.4c6.6,3.8,14.7,3.8,21.3,0l0.6-0.4l26.5,45.8
  		l-0.6,0.4C275.7,316.1,262.8,319.4,250,319.4z M214.3,308.6c22.1,12.5,49.3,12.5,71.4,0l-25-43.2c-6.7,3.6-14.8,3.6-21.5,0
  		L214.3,308.6z"/>
  </g>
  <g id="bld_3_">
  	<path class="nuclear" d="M228.7,246h-52.9v-0.8c0-26.4,14.2-51,37.1-64.3l0.6-0.4l26.5,45.8l-0.6,0.4c-6.6,3.8-10.6,10.9-10.6,18.4V246
  		z M177.3,244.5h49.9c0.3-7.6,4.3-14.6,10.7-18.6l-25-43.2C191.2,195.6,177.6,219.1,177.3,244.5z"/>
  </g>
  </svg>
</div>
<xp-progress-component :progress="progress" :max="max" :step="step"></xp-progress-component>
<div id="loader-container">
  <loader-interaction-component></loader-interaction-component>
  <loader-progress-component :loaderprogress="loaderprogress"></loader-progress-component>
</div>
<pop-up-confirmation :text-pop="textPop" :pop-type="popType" :accomplishment="accomplishment"></pop-up-confirmation>
<footer-component></footer-component>
<pop-up-component :id="id" :date="date" :title="title" :location="location" :lat="lat" :lon="lon" :image="image" :text="text" ></pop-up-component>
