@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

.buy-ressource-page-container {
  height: 100vh;
  background-image: url('/images/loader_background.png');
  font-family: 'Lettera Pro';
  word-spacing: -10px;

  .title-advice {
    opacity: 0;
    color: $color-green;
    position: absolute;
    top: 20px;
    margin: 6% 0 0 3%;
    font-size: 2em;
  }

  .earning-container {
    // @include centerX;
    margin: calc((100vh - 200px)/2) auto 0;
    width: 250px;
    height: 200px;
    // display: none;

    .earning-txt {
      color: white;
      font-family: "Lettera Pro";
      opacity: 0;
      font-size: 1.8em;
      width: 200px;
      height: 20px;
      text-align: center;
    }
    .earning-top {
      opacity: 0;
      margin-left: -25px;
      margin-top: 30px;
      .folder {
        display: inline-block;
        width: 17px;
        height: 12px;
        background: url('/images/svg/folder.svg');
      }
      .earning-title {
        margin-left: 7px;
        font-size: 1em;
        color: $color-foldertxt;
        font-weight: bolder;
      }
    }
    .earned-money-container {
      opacity: 0;
      margin-top: 15px;
      margin-left: -25px;
      width: 250px;
      height: 85px;
      border: solid 1px;
      border-color: #303030;
      font-size: 4em;

      .dollar-sign {
        color: $color-tiny-grey;
        display: inline-block;
        @include centerY;
        position: relative;
        margin-left: 15px;
      }

      .money-amont {
        color: $color-green;
        @include centerY;
        display: inline-block;
        position: relative;
      }
    }
  }

  .ressource-seed-container {
    @include centerY;
    left: 10%;

      .stockprices {
              background-image: url('/images/prixbad.png');
      }


  }

  .ressource-oxygen-container {
    @include centerY;
    left: 40%;

    .stockprices {
              background-image: url('/images/prixgood.png');
      }

  }
  .ressource-hydrogen-container {
    @include centerY;
    left: 70%;

    .stockprices {
              background-image: url('/images/prixgood2.png');
      }

  }




  .ressource-seed-container, .ressource-oxygen-container, .ressource-hydrogen-container {
    opacity: 0;
    width: 300px;
    height: 170px;
     -webkit-transition-duration: 0.35s; /* Safari */
    transition-duration: 0.35s;
    &:hover {
      width: 320px;
      height: 240px;
      cursor:pointer;
    }

    &:hover .stockprices {
      opacity: 1;
      height: 70px;
    }


    .title {
      font-size: 1.7em;
      color: $color-green;
      height: 32px;
    }




      .stockprices {
      width: 100%;
      height: 0px;
      background-size: 100%;
      background-color: rgb(15,16,17);
      border-top: 1px solid #202020;
      opacity: 0;
      -webkit-transition-duration: 0.35s; /* Safari */
      transition-duration: 0.35s;
    }

    .buy-action-container {
      width: 100%;
      height: 140px;
      background-color: $color-resources;





      .square-top-left {
        border-top: solid 1px;
        border-left: solid 1px;
        border-color: $color-tiny-grey;
        width: 20px;
        height: 20px;
        position: absolute;
      }
      .square-bottom-right {
        border-bottom: solid 1px;
        border-right: solid 1px;
        border-color: $color-tiny-grey;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .drag-container {
        @include centerXY;
        position: relative;
        width: 200px;

        .drag-btn-container {
          position: absolute;
          cursor: pointer;
          width: 20px;
          height: 20px;
          top: -10px;
          left: -12px;
          z-index: 2;

          .drag-btn-inside {
            @include centerXY;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 15px;
            border: solid 4px;
            border-color: $color-green;
          }
          .drag-btn-out {
            @include centerXY;
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 15px;
            border: solid 1px;
            border-color: $color-green;


             &:hover{
                -webkit-animation-name: hvr-pulse;
                animation-name: hvr-pulse;
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
            }

            @-webkit-keyframes hvr-pulse {
              25% {
                width: 24px;
                height: 24px;

              }

              75% {
                width: 16px;
                height: 16px;
              }
            }

            @keyframes hvr-pulse {
             25% {
              width: 24px;
              height: 24px;

            }

            75% {
              width: 16px;
              height: 16px;
            }
          }

          }




        }
        .progress-bar {
          height: 1px;
          width: 200px;
          background-color: $color-tiny-grey;

          .end-point {
            @include centerY;
            right: -5px;
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 15px;
            border: solid 1px;
            border-color: $color-tiny-grey;
            z-index: 2;
          }

          .current-progress-bar {
            @include centerY;
            height: 3px;
            width: 10px;
            background-color: $color-green;
            z-index: 1;
          }
        }
      }
      .percent {
        position: absolute;
        color: $color-green;
        right: -30px;
        bottom: -50px;
        font-size: 1.8em;
        border-top: 1px solid #303030;
        padding-top: 10px;
      }
    }
  }
  .start-natura-container {
    opacity: 0;
    @include centerX;
    bottom: 150px;
    font-size: 2.2em;

    #natura-error { // oublie pas de le faire, se declenche qu'une fois interaction avec slider
      color: red;
      text-align: center;
      font-size: 0.7em;
      //@include centerX; // Je voulais mettre text align center mais ça correspond pas au même centre que les autres elements
    }

    .btn-natura:hover {
      cursor: pointer;
    }
    .btn-natura {
      width: 400px;
      height: 20px;
      padding-left: 12px;
      padding-top: 3px;

      .text {
      color: $color-tiny-grey;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      display: block;

      &:before {
        content: "[";
        position:absolute;
        left:-20px;
        -webkit-transition-duration: 0.35s; /* Safari */
      transition-duration: 0.35s;

    }


    &:after {
        content: "]";
        position: absolute;
        right:50px;

    }

    &:hover {


    &::after {

              -webkit-animation-name: pulseright;
                animation-name: pulseright;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;

    }


    &::before {

              -webkit-animation-name: pulseleft;
                animation-name: pulseleft;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }

    @-webkit-keyframes pulseleft {
              25% { left:-30px;}
              75% { left:-20px;}
            }

    @keyframes pulseleft {
             25% { left:-30px;}
            75% { left:-20px; }
          }

    @-webkit-keyframes pulseright {
              25% { right:40px;}
              75% { right:50px;}
            }

    @keyframes pulseright {
             25% { right:40px;}
            75% { right:50px; }
          }

}

      }

    }
    .folder {
      display: inline-block;
      margin-left: 60px;
      margin-top: 10px;
      width: 17px;
      height: 12px;
      background: url('/images/svg/folder.svg');
    }
    .natura-title {
      margin-left: 7px;
      font-size: 0.6em;
      color: $color-tiny-grey;




    }
  }

}
