<div class="buy-ressource-page-container">
	<div class="earning-container">
	<div class="earning-txt" v-el:earning-txt>BY DISCOVERING <span id="nbDiscovered"></span>/<span id="nbInfos"></span> INFORMATIONS,</br>YOU'VE EARNED :</div>
		<div class="earning-top" v-el:earning-top>
			<span class="folder"></span>
			<span class="earning-title">_MONEY /</span>
		</div>
		<div class="earned-money-container" v-el:earned-money-container>
			<span class="dollar-sign">$</span>
			<span class="money-amont" v-el:money-amont></span>
		</div>
	</div>
	<div class="title-advice" v-el:title>SPLIT THE MONEY IN SEEDS, OXYGEN, AND WATER :</div>

	<div class="ressource-seed-container" v-el:ressource-seed-container>
		<div class="title">SEEDS /</div>
		<div class="buy-action-container" >
			<span class="square-top-left"></span>
			<span class="square-bottom-right"></span>
			<div class="drag-container dragdealer" v-el:drag-seed-container>
				<div class="drag-btn-container handle">
					<span class="drag-btn-inside"></span>
					<span class="drag-btn-out"></span>
				</div>
				<div class="progress-bar">
					<span class="current-progress-bar" id="current-seed-progress-bar"></span>
					<span class="end-point"></span>
				</div>
				<div class="percent"><span class="money" v-el:seed-drag-value>00</span>%</div>
			</div>
		</div>
		<div class="stockprices"></div>
	</div>
	<div class="ressource-oxygen-container" v-el:ressource-oxygen-container>
		<div class="title">OXYGEN RATE /</div>
		<div class="buy-action-container" >
			<span class="square-top-left"></span>
			<span class="square-bottom-right"></span>
			<div class="drag-container dragdealer" v-el:drag-oxy-container>
				<div class="drag-btn-container handle">
					<span class="drag-btn-inside"></span>
					<span class="drag-btn-out"></span>
				</div>
				<div class="progress-bar">
					<span class="current-progress-bar" id="current-oxy-progress-bar"></span>
					<span class="end-point"></span>
				</div>
				<div class="percent"><span class="money" v-el:oxy-drag-value>00</span>%</div>
			</div>
		</div>
		<div class="stockprices"></div>
	</div>
	<div class="ressource-hydrogen-container" v-el:ressource-hydrogen-container>
		<div class="title">HYDROGEN RATE /</div>
		<div class="buy-action-container" >
			<span class="square-top-left"></span>
			<span class="square-bottom-right"></span>
			<div class="drag-container dragdealer" v-el:drag-hydro-container>
				<div class="drag-btn-container handle">
					<span class="drag-btn-inside"></span>
					<span class="drag-btn-out"></span>
				</div>
				<div class="progress-bar">
					<span class="current-progress-bar" id="current-hydro-progress-bar"></span>
					<span class="end-point"></span>
				</div>
				<div class="percent"><span class="money" v-el:hydro-drag-value>00</span>%</div>
			</div>
		</div>
		<div class="stockprices"></div>
	</div>
	<div class="start-natura-container" v-el:start-natura-btn>
		<div class="btn-natura">
			<span class="text" v-el:start-natura-txt>START RENATURALIZATION</span>
		</div>
		<div id="natura-info">
			<span class="folder"></span>
			<span class="natura-title">PANO_RENATURALIZE /</span>
		</div>
		<div id="natura-error">
		</div>

	</div>
</div>

<footer-component></footer-component>
