@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

html, body{
  background-image: url('/images/loader_background.png');
}

#loader-progress-bar-container {
  top: 60%;

  #loader-bar {
    span {
      position: absolute;
      width: 1px;
      height: 9px;
      background-color: white;
      top: 60%;
      margin-left: 30%;
    }
    #current-load-progress-bar {
      background-color: $color-green;
      top: 60%;
    }
  }

  #progress-text {
    @include centerX;
    font-family: 'AHAMONO';
    margin-top: 30px;
    top: inherit;
    color: white;
    font-size: 1.7em;
  }

  #progress-start {
    @include centerX;
    font-family: 'Lettera Pro';
    margin-top: 80px;
    top:40px;
    top: inherit;
    color: $color-green;
    font-size: 2em;


    span{
      opacity: 0;
     -webkit-animation-name: reveal_txt;
          animation-name: reveal_txt;

          -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;

          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;

           animation-delay:0.5s;
          -webkit-animation-delay:0.5s;

           -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          transition-duration:0.3s;

          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;


              &:hover {
                opacity: 1;
              cursor: pointer;
              margin: 10px !important ;

}


    }




  @-webkit-keyframes reveal_txt {
    from {opacity:0}
    to {opacity: 1}
    }

    @keyframes reveal_txt {
   from {opacity:0}
    to {opacity: 1}
    }

&:before {
        content: "[";
         position: relative;
         left: 30px;

          -webkit-animation-name: reveal_left;
          animation-name: reveal_left;

          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;

          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;

        animation-delay:0.5s;
        -webkit-animation-delay:0.5s;

           -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;


    @-webkit-keyframes reveal_left {
    from {left: 30px;}
    to {left: -20px;}
    }

    @keyframes reveal_left {
    from {left: 30px;}
    to {left: -20px;}
    }



    }


  &:after {
      content: "]";
      position: absolute;
      right:30px;

      -webkit-animation-name: reveal_right;
      animation-name: reveal_right;

      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;

      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;

      animation-delay:0.5s;
      -webkit-animation-delay:0.5s;

       -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;


     @-webkit-keyframes reveal_right {
    from {right: 30px;}
    to {right: -20px;}
    }

    @keyframes reveal_right {
    from {right: 30px;}
    to {right: -20px;}
    }

  }

    &:hover {
    cursor: pointer;
    }

  }
  #progress-start:hover {
    cursor: pointer;
  }
}
