<div id="loader-progress-bar-container" v-el:loader-progress-bar-container>
  <div id="loader-bar" v-el:loader-bar></div>
  <div id="progress-text" v-el:progress-text>13%</div>
  <button type="button" id="progress-start" v-el:progress-start onmouseover="Btn_enter()"   onclick="Btn_click()"><span v-el:progress-start-span>GOT IT</span></button>
</div>
