@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

#level-indicator-container {
  @include centerY;
  color: white;
  position: absolute;
  right: 15px;
  text-align: right;
  font-family: 'Lettera Pro';

  .active {
    color: $color-green;
    font-size: 2.3em;
    border: 1px solid $color-green;
    border-right-style: none;
    border-left-style: none;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
