@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

#about-page-container {
  display: none;
  opacity: 0;
  height: 100vh;
  font-family: 'Lettera Pro';
  color: white;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 101;

  .header {
    display: block;
    width: 100%;
    height: 15%;
    text-align: center;

    .logotype {
      background: url("/images/svg/logotype.svg");
      background-repeat: no-repeat;
      width: 50%;
      padding-bottom: 7%;
      margin: auto;
      margin-top: 50px;
    }

    .description {
      position: relative;
      display:inline-block;
      width: 80%;
      margin: auto;
      font-size: 1.3em;
      line-height: 1.4em;
      // margin-top: 60px;
      text-align: center;
    }
  }

  .about-cards {
    width: 90%;
    height: 37%;
    bottom: 15%;
    @include centerX;
    display: block;
    margin: auto;
  }
  .thanks {
    font-size: 1em;
    line-height: 1.3em;
    .workshop {
      margin-top: 17%;
    }
    img {
      margin-top: 10px;
      width: 50%;
    }
    .thanks-title {
      margin-top: 10px;
    }
    .voice-container {
      margin-top: 10px;
    }
    .voice {
      width: 49%;
      position: absolute;
      padding-left: 10px;
      left: 0;
    }

    .record {
      width: 49%;
      position: absolute;
      padding-right: 10px;
      right: 0;
    }

  }
}

#btn-hide-popup {
  position: absolute;
  margin-right: 60px;
  margin-top: 50px;
  right: 0;

  #back-home-arrow-cont {
    border: solid 1px;
    border-color: $color-green;
    width: 90px;
    height: 55px;
    cursor: pointer;
    .back-home-arrow-text {
      position: absolute;
      font-family: 'Lettera Pro';
      color: $color-green;
      left: 35px;
      word-spacing: -10px;
      margin-top: 20px;
      font-size: 1.5em;
    }
    .back-home-arrow {
      display: block;
      margin-top: 18px;
      margin-left: 10px;
      width: 16px;
      height: 16px;
      float: left;
      transform: rotate(0.5turn);
      background: url('/images/svg/arrow.svg');
      background-repeat: no-repeat;
      color: $color-green;
    }
  }
}
