<div id="about-page-container">
	<div id="btn-hide-popup" class="top-right-container">
	  <div id="back-home-arrow-cont" class="skip">
	    <span class="back-home-arrow-text">BACK</span>
	    <span class="back-home-arrow"></span>
	  </div>
	</div>
	<div class="header">
		<div class="logotype"></div>
		<div class="description">
			Terraforma is a school project made in 2016 by 4 Gobelins' students. It is a prototype, only 2 experiences were developed but we imagined more, treating about other environmental issues.</br></br>
			In a post-apocalyptic future where even access to natural resources is limited, the planet is now empty of nature. Your mission is to naturalize its environment and survive by buying essential resources. Throughout your journey, you will discover humanity's past environmental mistakes.
		</div>
	</div>
	<div class="about-cards">
		<about-card-component style="left:1" type="DEV" name="Maximilien Jourdain" twitterid="karolsenami" imagesrc="images/profile-pics/max.jpg"></about-card-component>
		<about-card-component style="left:22%" type="DEV" name="Benjamin Gammaire" twitterid="be3nj" imagesrc="images/profile-pics/ben.png"></about-card-component>
		<about-card-component style="left:43%" type="DES" name="Lovis Odin" twitterid="OdinLovis" imagesrc="images/profile-pics/lovis.png"></about-card-component>
		<about-card-component style="left:64%" type="DES" name="Hugo Maury" twitterid="hugmaury" imagesrc="images/profile-pics/hugo.png"></about-card-component>
		<div class="about-card thanks" style="left:85%">
			<span class="folder-pop-up-infos">
		    <span class="folder-icon"></span>
		    <span class="folder-text">_THANKS /</span>
		  </span>
			<span class="corner-pop-info top-left"></span>
		  <span class="corner-pop-info bottom-left"></span>
		  <span class="corner-pop-info top-right"></span>
		  <span class="corner-pop-info bottom-right"></span>

			<div class="workshop capitalized bold">
				School_Project_2016
			</div>
			<img src="/images/gob-logo.png" alt="">
			<div class="thanks-title capitalized bold">
				Special thanks to:
			</div>
			<div>Véronique Ficara</div>
			<div>Thierry Audoux</div>
			<div class="voice-container">
				<div class="voice">
					<div class="title capitalized bold">
						VOICE:
					</div>
					<div class="person ">
						Zoé Jourdain
					</div>
				</div>
				<div class="record">
					<div class="title capitalized bold">
						RECORDER:
					</div>
					<div class="person">
						Antoine Citrinot
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
