@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

#three-container {
  position: absolute;
  cursor: crosshair;
}
.top-right-container {
  position: absolute;
  margin-right: 60px;
  margin-top: 100px;
  right: 0;
  .folder {
    display: block;
    margin-bottom: 5px;
    .folder-icon {
      display: inline-block;
      width: 20px;
      height: 15px;
      background: url('/images/svg/folder.svg');
    }
    .folder-text {
      font-family: 'Lettera Pro';
      margin-left: 7px;
      font-size: 1.2em;
      color: $color-tiny-grey;
    }
  }
  .skip {
    border: solid 1px;
    border-color: $color-green;
    width: 120px;
    height: 55px;
    cursor: pointer;
    .skip-text {
      position: absolute;
      font-family: 'Lettera Pro';
      color: $color-green;
      left: 25px;
      margin-top: 17px;
      font-size: 2em;
    }
    .skip-arrow {
        display: block;
        margin-top: 18px;
        margin-right: 17px;
        width: 16px;
        height: 16px;
        float: right;
        background: url('/images/svg/arrow.svg');
        background-repeat: no-repeat;
        color: $color-green;
    }
  }
}
.video-player-infos {
  @include centerX;
    width: 1000px;
    height: 20px;
    bottom: 175px;
    cursor: pointer;

    #progress-bar {
      width:100%;
      height: 1px;
      bottom: 175px;
      -webkit-appearance: none;
      border: none;

    }

    #progress-bar::-webkit-progress-bar {
      background-color: $color-tiny-grey;
      opacity: 0.5;
      height: 2px;
    }

    #progress-bar::-webkit-progress-value {
      background-color: $color-green;
      height: 2px;
    }
    .current-time-infos {
      position: relative;
      color: white;
      float: right;
      margin-top: 10px;
    }
    .time-minutes, .time-seconds {
      font-family: 'Lettera Pro';
      font-size: 1.2em;
    }

    .shortcut-info-pause {
      color: $color-green;
      font-family: 'Lettera Pro';
      font-size: 1.2em;
      padding-top: 20px;
      float: left;
    }
}
