@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';


// pour les couleurs et les fonts, regarde les autres CSS,
// les plus simples sont dans le dossier "components",
// je t'ai mis un extrait ci-dessous de xpProgressBar

#xp-progress-container {
  @include centerY;
  //@include centerXY;
//@include centerX;

  .progress-text {
    font-family: 'Lettera Pro';
  }

  #progress-bar-container {
      background-color: $color-tiny-grey;
    }
    #step-bar {
      background-color: $color-green;
    }
  }
}
