@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.about-card {
  width: 15%;
  height: 100%;
  position: absolute;
  display: block;
  text-align: center;
  font-size: 1.3em;
  background-color: rgb(19, 19, 19);
  overflow: hidden;
  a {
    text-decoration: none;
    color: inherit;
  }
  .folder-pop-up-infos {
    left: 0;
    display: block;
    margin-top: -25px;
    position: absolute;
    .folder-icon {
      display: inline-block;
      width: 20px;
      height: 15px;
      background: url('/images/svg/folder.svg');
    }
    .folder-text {
      font-family: 'Lettera Pro';
      margin-left: 7px;
      font-size: 1.2em;
      color: white;
    }
  }

  .corner-pop-info {
    border-color: white;
    z-index: 1000;
    display: block;
    position: absolute;
    height: 20px;
    width: 35px;
  }
  .top-right {
    right: 0;
    top: 0;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .bottom-right {
    right: 0;
    bottom: 0;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .top-left {
    left: 0;
    top: 0;
    border-top: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }
  .bottom-left {
    left: 0;
    bottom: 0;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }


  .capitalized {
    text-transform: uppercase;
  }

  .bold {
    font-weight: bold;
    font-size: 1.3em;
  }

  .profile-pic {
    margin-top: 17%;
    width: 45%;
    padding-bottom: 1%;
    border-radius: 50%;
  }
  .name {
    margin-top: 15%;
  }
  .twitter-name {
    margin-top: 15%;
    margin-bottom: 10%;
  }
  .twitter-icon {
    color: black;
    margin-top: 10%;
    position: absolute;
    @include centerX;
    width: 8%;
    svg {
      width: 100%; height: 100%;
    }
  }
}
