@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';


.subtitle {
  font-family: 'Lettera Pro';
  word-spacing: -10px;
  @include centerX;
  color: white;
  bottom: 80px;
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 0 black; 
}

/// CSS transition
.fadeOut-transition {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fadeOut-enter,
.fadeOut-leave {
  opacity: 0;
}
