@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

#timeline-container {
  position: absolute;
  margin-left: -50px;
  width: 1000px;
  height: 70px;
  bottom: 20px;
  display: block;
  opacity: 0.6;

  .year-stick {
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: $color-tiny-grey;
    bottom: 10px;
  }

  .year-point {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 15px;
    border: solid 1px;
    border-color: $color-tiny-grey;
    bottom: 0;
  }
  #year-nb {
    font-family: 'Lettera Pro';
    color: white;
    position: absolute;
    bottom: 75px;
    left: -65px;
    font-size: 2.2em;
  }

  #current-year-sticks {
    .current {
      bottom: -10px;
      position: absolute;
      width: 1px;
      background-color: $color-tiny-grey;
      }

    #current-year-stick {
      left: -40px;
      height: 15px;
    }

    #left-year-stick {
      left: -50px;
      height: 10px;
    }

    #small-left-year-stick {
      left: -60px;
      height: 4px;
    }

    #right-year-stick {
      left: -30px;
      height: 10px;
    }

    #small-right-year-stick {
      left: -20px;
      height: 4px;
    }
  }

}
