<div id="timeline-container" v-el:timeline-container>
  <span id="year-nb" v-el:year-nb>2000</span>
  <div id=current-year-sticks v-el:current-year-sticks>
    <span id="small-left-year-stick" class="current"></span>
    <span id="left-year-stick" class="current"></span>
    <span id="current-year-stick" class="current"></span>
    <span id="right-year-stick" class="current"></span>
    <span id="small-right-year-stick" class="current"></span>
  </div>
</div>
