@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

#pop-up-background {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-image: url('/images/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
}
#pop-up-confirm-container {
  @include centerXY;
  width: 500px;
  height: 300px;
  background-color: black;
  padding: 25px;
  font-family: 'Lettera Pro';
  // display: none;

  .corner {
    border-color: white;
    z-index: 1000;
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
  }
  .top-right {
    right: 0;
    top: 0;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .bottom-right {
    right: 0;
    bottom: 0;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .top-left {
    left: 0;
    top: 0;
    border-top: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }
  .bottom-left {
    left: 0;
    bottom: 0;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }
  .title-path {
    color: $color-green;
    font-size: 1em;
    display: block;
  }
  .title-confirm {
    color: $color-green;
    font-size: 1.5em;
    display: block;
    margin-top: 6px;
    word-spacing: -10px;
  }
  .progress-bar-mission-container {
    width: 100%;
    height: 40px;
    border-bottom: solid 1px;
    border-color: $color-tiny-grey;
    .progress-bar-mission {
      width: 100%;
      height: 5px;
      margin-top: 5px;
      background-color: $color-green;
    }
    .progress-txt-container {
      float: right;
      margin-top: 13px;
      font-size: 1.1em;
      .progress-txt {
        color: white;
      }
      .progress-value {
        color: white;
      }
    }
  }
  .confirm-message {
    margin-top: 20px;
    color: white;
    padding: 10px;
    font-size: 1.1em;
    word-spacing: -5px;
    line-height: 20px;
  }
  .confirm-btns-container {
    margin: 20px auto;
    color: $color-green;
    font-size: 1.6em;
    width: 400px;
    height: 30px;
    text-align: center;

    .corner-confirm.left {
      float: left;
      height: 20px;
      width: 5px;
      border-top: solid 1px;
      border-bottom: solid 1px;
    }
    .corner-confirm.right {
      float: right;
      height: 20px;
      width: 5px;
      height: 20px;
      top: 0;
      border-top: solid 1px;
      border-bottom: solid 1px;
    }
    .btn-confirm {
      border-right: solid 1px;
      border-left: solid 1px;
      border-color: $color-green;
      height: 20px;
      width: 45%;
      float: left;
      display: inline-block;
    }
    .btn-cancel {
      border-right: solid 1px;
      border-left: solid 1px;
      border-color: $color-green;
      height: 20px;
      width: 45%;
      float: right;
      display: inline-block;
    }
    .btn-confirm:hover, .btn-cancel:hover {
      cursor: pointer;
    }
    .text {
      top: 3px;
      position: relative;
    }
  }

}
