<div id="pop-up-background" v-el:pop-up-bg>
	<div id="pop-up-confirm-container" v-el:pop-up-container>
		<div class="pop-up-background"></div>
		<span class="corner top-left"></span>
		<span class="corner bottom-left"></span>
		<span class="corner top-right"></span>
		<span class="corner bottom-right"></span>
		<div class="title-path">_CONFIRMATION /</div>
		<div id="pop-up-choice-title" class="title-confirm">ARE YOU SURE YOU WANT TO QUIT ?</div>
		<div class="progress-bar-mission-container">
			<div class="progress-bar-mission"></div>
			<div class="progress-txt-container">
				<span class="progress-txt"> ACCOMPLISHEMENT _ </span>
				<span class="progress-value">{{accomplishment}}%</span>
			</div>
		</div>
		<p class="confirm-message">
			{{ textPop }}
		</p>
		<div class="confirm-btns-container">
			<div class="btn-confirm" v-on:click="confirmPopUp">
				<span class="corner-confirm left"></span>
				<span id="pop-btn-confirm" class="text" v-el:btn-confirm-txt>QUIT MISSION</span>
				<span class="corner-confirm right"></span>
			</div>
			<div class="btn-cancel" v-on:click="dismissPopup">
				<span class="corner-confirm left"></span>
				<span id="pop-btn-cancel" class="text" v-el:btn-cancel-txt>CONTINUE</span>
				<span class="corner-confirm right"></span>
			</div>
		</div>
	</div>
</div>
