<img id="video-loader" src="/images/video_loader.gif" alt="loading">
<img id="video-pause" src="/images/pause.png" alt="pause">
<div id="three-container"></div>
<div class="top-right-container">
  <span class="folder">
    <span class="folder-icon"></span>
    <span class="folder-text">/ XP NUCLEAR</span>
  </span>
  <div class="skip" v-on:click='onSkipBtn'>
    <span class="skip-text">SKIP</span>
    <span class="skip-arrow"></span>
  </div>
</div>
<div class="video-player-infos" v-el:video-player-infos>

  <progress id='progress-bar' min='0' max='100' value='0' v-el:progress-bar></progress>
  <span class="shortcut-info-pause">[SPACE] PAUSE</span>
  <div class="current-time-infos" v-el:time-infos>
    <span class="minus-minute">-</span>
    <span class="time-minutes" v-el:time-minutes>00</span>
    <span class="time-separator">:</span>
    <span class="time-seconds" v-el:time-seconds>00</span>
  </div>
</div>
<subtitle-component></subtitle-component>
<footer-component></footer-component>
