@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

.landing-page-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;

  .landing-center-container {
  @include centerXY;
  margin-top: -30px;

    .logo-container {
      position: relative;
      margin: auto;
      width:600px;
      height: 400px;
      top: 20%;

      .logo {
        margin: 0 auto;
        display: block;
        width: 350px; // for sprite
        height: 350px;
        background-image: url('/images/landing_page/terra000.png');
        background-repeat: no-repeat;
      }
      .logotype {
        display: block;
        margin: 20px auto 0 auto;
        bottom: 0;
        width: 300px;
        height: 35px;
        background: url('/images/svg/logotype.svg');
        background-repeat: no-repeat;
      }
    }
  }
}
