@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.wrapper-end {
  @include centerX;
  top: 50px;
  .terra-img {
    width: 150px;
    margin: 0 auto;
    display: block;
  }
  .content {
    width: 450px;
    display: block;
    font-family: 'Lettera Pro';
    text-transform: uppercase;
    margin-top: 20px;
    .top-title {
      color: $color-green;
      font-size: 17px;
    }
    .title-big {
      color: $color-green;
      font-size: 28px;
      margin: 15px 0;

    }
    .title-separator {
      width: 0;
      height: 10px;
      background-color: $color-green;
    }
    .uncompat-descr {
      color: white;
      font-size: 15px;
      line-height: 30px;
      margin-top: 15px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      .end-link {
        font-weight: bold;
      }
    }
  .start-natura-container {
    display: table;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: $color-green;
    bottom: 150px;
    font-size: 2.2em;

    .btn-natura:hover {
      cursor: pointer;
    }
    .btn-natura {
      .text {
        word-spacing: -15px;
        color: $color-green;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;

      &:before {
        content: "[";
        position:absolute;
        left:140px;
        -webkit-transition-duration: 0.35s; /* Safari */
        transition-duration: 0.35s;

    }


    &:after {
        content: "]";
        position: absolute;
        right:140px;

    }

    &:hover {


    &::after {
      -webkit-animation-name: pulseright;
      animation-name: pulseright;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;

    }


    &::before {

          -webkit-animation-name: pulseleft;
          animation-name: pulseleft;
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
    }

    @-webkit-keyframes pulseleft {
      25% { left:130px;}
      75% { left:140px;}
    }

    @keyframes pulseleft {
      25% { left:130px;}
      75% { left:140px;}
    }

    @-webkit-keyframes pulseright {
      25% { right:130px;}
      75% { right:140px;}
    }

    @keyframes pulseright {
      25% { right:130px;}
      75% { right:140px;}
    }

}

      }

    }
    .natura-infos {
      margin-top: 15px;
      .folder {
        display: inline-block;
        margin-top: 10px;
        width: 17px;
        height: 12px;
        background: url('/images/svg/folder.svg');
      }
      .natura-title {
        margin-left: 7px;
        font-size: 0.6em;
        color: $color-tiny-grey;
      }
    }
  }

  }

}
