<div class="uncompatible">
	<div class="wrapper-end">
		<img src="/images/landing_page/terra000.png" class="terra-img">
		<div class="content">
			<div class="top-title">_success_exp /</div>
			<div class="title-big" v-el:title-congrats>congratulations</div>
			<div class="title-separator" v-el:title-separator></div>
			<div class="uncompat-descr">
				Thanks to your learnings, this digital world has been renaturalized.</br>
				But hey, real world still needs you ! Your last mission, if you acccept it, is to plant a real seed and take care of nature 🌱
			</div>
		<div class="start-natura-container" >
			<a href="/panorama">
			<div class="btn-natura">
				<span class="text">continue</span>
			</div>
			<div id="natura-info" class="natura-infos">
				<span class="folder"></span>
				<span class="natura-title">real_mission_ /</span>
			</div>
			</a>
		</div>
		</div>
	</div>
	<footer-component></footer-component>
</div>
