<div class="interaction-container" v-el:interaction-container>
	<img id="panorama-img" src="/images/loaders/light.png"  v-el:loader-img>
	<img id="hand-svg" src="/images/loaders/mouse.svg" v-el:hand-svg>
	<div id="loader-text">Move your mouse around the plant<br/>to highlight neonicotinoid's consequences</div>
</div>
