@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

#footer-container {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  color: $color-green;
  .footer__logotype {
    @include centerY;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    float: left;
    margin-left: 35px;
    width: 200px;
    height: 20px;
    background: url('/images/svg/logotype.svg');
    background-repeat: no-repeat;
  }
  .footer__conditions-policies-container {
    font-family: 'SourceSans Pro';
    @include centerY;
    margin-left: 50px;
    color:#797979;
    font-weight: bolder;
    .conditions:hover, .policy:hover {
      cursor: pointer;
    }
    .separator {
      width: 1px;
      height: 7px;
      margin: 0 10px;
      display: inline-block;
      background-color: #797979;
    }
  }
  .footer__about-control-container {
    @include centerY;
    font-family: 'Lettera Pro';
    position: relative;
    float: right;
    margin-right: 50px;

    .share:hover, .credits:hover,  .help:hover {
      cursor: pointer;
    }

    .credits, .share, .help {
      margin: 0 20px;
      font-size: 1.3em;
    }
    .separator {
      position: relative;
      width: 1px;
      height: 15px;
      top: 3px;
      margin: 0 10px;
      display: inline-block;
      background-color: $color-green;
    }

    .control-container {
      position: relative;
      top: 5px;
      width: 100px;
      height: 20px;
      display: inline-block;
      margin-left: -15px;

      .sound-control{
        width: 25px;
        float: left;
        margin-left: 25px;
        top: 5px;
        height: 1.3em;
        overflow-y:hidden;
        font-size:10px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
      .sound-control:hover {
        cursor: pointer;
      }

      .sound-control .bar {
        background: $color-green;
        width: .2em;
        margin: 0 0.13em;
        animation: playing 0ms -1000ms linear infinite alternate;
      }
      .sound-control .bar.muted {
        height: .2em;
        animation: inherit;
      }

      .sound-control .bar:nth-child(5n+1) {
        animation-duration: 399ms;
      }
      .sound-control .bar:nth-child(5n+2) {
        animation-duration: 435ms;
      }
      .sound-control .bar:nth-child(5n+3) {
        animation-duration: 489ms;
      }
      .sound-control .bar:nth-child(5n+4) {
        animation-duration: 446ms;
      }
      .sound-control .bar:nth-child(5n+5) {
        animation-duration: 412ms;
      }

      @keyframes playing {
        0% {
          height: .2em;
        }
        100% {
          height: 2.3em;
        }
      }
      .fullscreen-control {
        width: 15px;
        height: 15px;
        margin-top: 5px;
        display: block;
        float: right;
        background: url('/images/svg/fullscreen.svg');
      }
      .fullscreen-control:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 767px) {
 .footer__about-control-container {
   display: none;
 }
 .footer__logotype {
   margin: 0 auto;
 }
}
#share-popup {
  display: none;
  opacity: 0;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2000;
  img {
    @include centerX;
    margin-top: 10%;
    width: 20%;
  }
}
