<about-component></about-component>
<div id="footer-container" v-el:footer-container>
  <span class="footer__logotype"></span>
  <!-- <span class="footer__conditions-policies-container">
    <span class="conditions">TERMS AND CONDITIONS</span>
    <span class="separator"></span>
    <span class="policy">PRIVATE POLICY</span>
  </span> -->
  <span class="footer__about-control-container">
    <span class="help">[H] HELP</span>
    <span class="credits">[A] ABOUT</span>
    <span class="share">[S] SHARE</span>
    <span class="separator"></span>
    <div class="control-container">
      <span id="sound_control" class="sound-control">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </span>
      <span class="fullscreen-control"></span>
    </div>
  </span>
</div>
<div id="share-popup">
  <img src="/images/clipboard.png" alt="">
</div>
