@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.interaction-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/images/loader_background.png');

  #panorama-img {
    @include centerX;
    position: absolute;
    bottom: 50%;
    width: 200px;
    margin-bottom: 40px;
  }

  #hand-svg {
    position: absolute;
    left: 50%;
    width: 40px;
    bottom: 50%;
    margin-bottom: 100px;
  }

  #loader-text {
    @include centerX;
    text-align: center;
    bottom: 45%;
    line-height: 200%;
    text-transform: uppercase;
    color: #cccccc;
    font-size: 1.4em;
    font-family: 'Lettera Pro';
  }
}
