<div class="interaction-container" v-el:interaction-container>
	<img id="panorama-img" src="/images/loaders/globe.png">
	<img id="hand-svg" src="/images/loaders/hand.svg" v-el:hand-svg>
	<div id="loader-text">Rotate the earth by dragging it<br/>and discover nuclear disasters</div>
</div>
