@font-face {
   font-family: 'Lettera Pro';
   src: url('/fonts/LetteraPro/LetteraPro.eot'); /* IE9 Compat Modes */
   src: url('/fonts/LetteraPro/LetteraPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/LetteraPro/LetteraPro.woff') format('woff'), /* Modern Browsers */
        url('/fonts/LetteraPro/LetteraPro.ttf')  format('truetype'); /* Safari, Android, iOS */

   font-style:   normal;
   font-weight:  200;
 }

 @font-face {
    font-family: 'SourceSans Pro';
    src: url('/fonts/SourceSansPro/SourceSansPro-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('/fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-style:   normal;
    font-weight:  200;
  }

 @font-face {
    font-family: 'AHAMONO';
    src: url('/fonts/AHAMONO/AHAMONO.otf');

    font-style:   normal;
    font-weight:  200;
  }
