@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/fonts';

#pop-up-infos-background {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('/images/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  word-spacing: -10px;
}

#pop-up-nuclear-container, #pop-up-pesticide-container {
  @include centerXY;
  position: absolute;
  padding: 2%;
  width: 65%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.26);
  font-family: 'Lettera Pro';
  display: none;

  .folder-pop-up-infos {
    left: 0;
    display: block;
    margin-top: -45px;
    position: absolute;
    .folder-icon {
      display: inline-block;
      width: 20px;
      height: 15px;
      background: url('/images/svg/folder.svg');
    }
    .folder-text {
      font-family: 'Lettera Pro';
      margin-left: 7px;
      font-size: 1.2em;
      color: white;
    }
  }

  ::-webkit-scrollbar {
        width:  5px;
        height: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background: $color-tiny-grey;
    }

    ::-webkit-scrollbar-track {
        background: black;
    }

  .corner-pop-info {
    border-color: white;
    z-index: 1000;
    display: block;
    position: absolute;
    height: 20px;
    width: 35px;
  }
  .top-right {
    right: 0;
    top: 0;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .bottom-right {
    right: 0;
    bottom: 0;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: $color-tiny-grey;
  }
  .top-left {
    left: 0;
    top: 0;
    border-top: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }
  .bottom-left {
    left: 0;
    bottom: 0;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color: $color-tiny-grey;
  }


  .capitalized {
    text-transform: uppercase;
  }

  #info {
    height: 100%;
    width: 50%;
    vertical-align: top;
    display: inline-block;

    #date {
      color: $color-green;
      font-size: 1.3em;
    }

    #title {
      margin-top: 5px;
      color: $color-green;
      font-size: 2em;
    }

    #location {
      margin-top: 10px;
      color: white;
      font-size: 1.2em;
      word-spacing: -10px;
    }
      .arrow-down-cont {
      margin-top: 25px;
      display: block;
      .arrow-down-icon {
        display: inline-block;
        width: 15px;
        height: 10px;
        background: url('/images/svg/arrow.svg');
        transform: rotate(90deg);
      }
      .arrow-down-text {
        font-family: 'Lettera Pro';
        margin-left: 7px;
        font-size: 1.2em;
        color: white;
      }
    }
    #image {
      margin:5% 0 0 0;
      padding:0;
      width: 100%;
      height: 55%;
      background: url('/images/loader_background.png');
      -webkit-background-size: contain; /* pour anciens Chrome et Safari */
      background-size: cover;
    }
  }

  #text-right-container {
    float: right;
    height: 300px;
    overflow: auto;
    width: 40%;
    margin-right: 1%;
    margin-top: 10%;
    position: relative;
    .text-top {
      display: block;
      width: 100%;
      padding-bottom: 5px;
      position: relative;
      color: white;
      border-bottom: solid 1px;
      border-color: $color-tiny-grey;
    }
    p {
      margin-top: 10px;
      color: white;
      line-height: 2em;
      font-size: 1.2em;
      word-spacing: -10px;
    }

  }
  .btn-close-container {
    position: absolute;
    top: 30px;
    right:20px;
    &:hover {
      cursor: pointer;
    }
    .btn-close {
      width: 130px;
      height: 20px;
      padding-top: 3px;
      border-color: $color-green;
      font-size: 1.7em;
      text-align: center;


      .text-pop-info-close {
        color: $color-green;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;


&:before {
        content: "[";
         position: absolute;
         left: 20px;
         color: $color-green;
            transition-duration:0.3s;
          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
       }

        &:after {
        content: "]";
         position: absolute;
         right: 20px;
         color: $color-green;
            transition-duration:0.3s;
          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
       }

       &:hover{
        &:before {
         left: 10px;
       }
        &:after {
         right: 10px;
       }

        }



      }
    }
  }
}
