
<div id="pop-up-infos-background">
</div>
<div id="pop-up-nuclear-container" v-el:pop-up-nuclear-container>
  <span class="folder-pop-up-infos">
    <span class="folder-icon"></span>
    <span class="folder-text">FILE_DATA #{{ id }}_3Y</span>
  </span>
  <span class="corner-pop-info top-left"></span>
  <span class="corner-pop-info bottom-left"></span>
  <span class="corner-pop-info top-right"></span>
  <span class="corner-pop-info bottom-right"></span>
  <div id=info>
    <div id="date" class="capitalized" v-el:date>_{{date}} /</div>
    <div id="title" class="capitalized" v-el:title>{{title}}</div>
    <div id="location" class="capitalized" v-el:location>LOCATION : {{location}} _ N {{lat}} W {{lon}}</div>
    <span class="arrow-down-cont">
      <span class="arrow-down-icon"></span>
      <span class="arrow-down-text">IMG_DATA #{{ id }}_3Y</span>
    </span>
    <div id="image" v-el:image></div>
  </div>
  <div id="text-right-container">
    <span class="text-top">DATA_TXT #{{ id }}_3Y</span>
    <p v-el:text>{{text}}</p>
  </div>
  <div class="btn-close-container" v-on:click="closeInfoPopUp">
    <div class="btn-close">
      <span class="text-pop-info-close">CLOSE</span>
    </div>
  </div>
</div>
